<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>serverweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>basic.Ex01_FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/first.multi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gugu</servlet-name>
    <servlet-class>basic.Ex02_SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gugu</servlet-name>
    <url-pattern>/gugu.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>life</servlet-name>
    <servlet-class>basic.Ex03_LifeCycleTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>life</servlet-name>
    <url-pattern>/life.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendRedirectTestServlet</display-name>
    <servlet-name>SendRedirectTestServlet</servlet-name>
    <servlet-class>basic.SendRedirectTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendRedirectTestServlet</servlet-name>
    <url-pattern>/SendRedirectTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/member/mvc/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>member.mvc.MemberSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/member/mvc/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test2</display-name>
    <servlet-name>test2</servlet-name>
    <servlet-class>basic.test2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test2</servlet-name>
    <url-pattern>/test2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>member.mvc.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>