<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>프레그먼트 연결하기</h1>
	<div style = "background-color: yellow; height:100px">
		메인의 영역 #########################
	</div>
	<!-- content1, content2 ... 정의한 프레그먼트를 main에 삽입 
		프레그먼트를 삽입이나 replace하는 경우
		~{}문법을 써서 경로를 정의하는 것이 기본 문법이나 간단한 정의를 하는 경우는 ~{}생략가능
		th:insert => 삽입, th:replace => 교체
		th:insert="~{연결될 view의 path :: 정의된 프레그먼트의 이름}"
	-->
	<div id="top" th:insert="~{fragment/fragment1 :: content1}">
	
	</div>
	<div style = "background-color: yellow; height:100px">
		메인의 영역 #########################-------2
	</div>
	<div style = "background-color: yellow; height:100px">
		메인의 영역 #########################-------3
	</div>
	<div id="menu1" th:replace="~{fragment/fragment1 :: content1}">
	
	</div>
	<div id="menu2" th:replace="~{fragment/fragment1 :: content2}">
	
	</div>
	
	<div style = "background-color: yellow; height:100px">
		메인의 영역 #########################-------4
	</div>
	<div id="body" th:replace="~{fragment/fragment2 :: content3('bts','방탄소년단')}">
	
	</div>
	
</body>
</html>